.column {
    float: left;
    width: 50%;
    padding: 25px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.columnBodyTop {
    float: left;
    width: 50%;
    padding: 15px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.columnTop {
    float: left;
    width: 85%;
    padding: 25px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.columnSaveMenu {
    display: flex;
    justify-content: right;
    float: right;
    width: 15%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.rowRecipeSaverTop {
    display: flex;
    justify-content: right;
    width: 90%;
}

.inputFieldsBodyTop {
    display: flex;
    justify-content: right;
    width: 100%;
}

.inputFieldsBodyBottom {
    display: flex;
    justify-content: right;
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
}

.saveButton {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}
