/* Change theme-colors */
$theme-colors: (
    primary: #ff526a,
    secondary: #3b3c3e,
    success: #1e6111,
    info: #64c3d2,
    warning: #f5e74a,
    danger: #820410,
);

@import "~bootstrap/scss/bootstrap.scss";
